/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    text-align: center;
    padding: 2rem;
    background-color: #f4f4f4;
  }
  
  section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
  }
  #profile-photo {
    width: 150px;
    float:right;        
    margin-left :50px;        
    border-radius: 50%;;
  
  }
  
  #skills ul {
    list-style-type: none;
  }
  
  #projects .project {
    margin: 1rem 0;
  }
  
  #projects img {
    width: 50%;
    max-width: 100px;
    display: block;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  